.node {
    fill: black;
    stroke: none;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.node text {
   font: 1em sans-serif;
}

body {
  padding: 2%;
  color: white;
  background-color: #204060;
}

button {
  margin: 1%;
}
svg {
  background-color: white;
  border-radius: 50px;
  padding: 2%;
  margin: 5%
}
